<nav>
  <div class="nav-fixed">
    <ul>
      {{#each this}}
        <li>
          {{#linkTo 'embercasts.embercast' this}}{{title}}{{/linkTo}}
        </li>
      {{/each}}
    </ul>
  </div>
</nav>
