.about
  .row.caster-bio
    .large-4.columns
      img src="<%= image_path 'ebryn.jpeg' %>"
    .large-8.columns

      h2 Erik Bryn (<a href="https://twitter.com/ebryn">@ebryn</a>)

      p Erik is a member of Ember.js core team and has been actively
        involved in the development of Ember since before its split
        from SproutCore. 

  .row.caster-bio
    .large-4.columns
      img src="<%= image_path 'machty.jpeg' %>"
    .large-8.columns

      h2 Alex Matchneer (<a href="https://twitter.com/machty">@machty</a>)

      p Alex has been writing Ember apps and contributing to Ember since
        early 2012. He is a consultant based out of New York City and
        runs a humble little LLC called <a href="http://usefulrobot.io">Useful Robot</a>.
        He is also the creator of <a href="http://www.emblemjs.com">Emblem.js</a>,
        an Ember-compatible, indentation-based templating language.


