<div class="page">
  <header>
    <img src="/assets/logo.png" height=50>
  </header>

  <div class="content">
    {{#each this}}
      <article>
        <aside>
          <h2>{{date}}</h2>
        </aside>
        <div class="row-content">
          <h2>{{title}}</h2>
          <h3>{{subtitle}}</h3>
          <video class="sublime" width="640" height="360" data-autoresize="fit" {{bindAttr id="videoId" data-uid="videoId" data-youtube-id="videoId"}} preload="none"></video>
        </div>
      </article>
    {{/each}}
  </div>

  <nav>
    <ul>
      <li>home</li>
      <li>about</li>
    </ul>
  </nav>

</div>