<header>
  <img src="/assets/logo.png" height=50>
</header>

<div class="sidebar">
  <ul>
    <li>home</li>
    <li>about</li>
  </ul>
</div>

<div class="content">

  {{#each this}}
    <div class="row">
      <div class="row-sidebar">
        <h4>{{date}}</h4>
      </div>
      <div class="row-content">
        <h3>{{title}}</h3>
        <h6>{{subtitle}}</h6>
        <video class="sublime" width="640" height="360" {{bindAttr id="videoId" data-uid="videoId" data-youtube-id="videoId"}} preload="none"></video>
      </div>
    </div>
  {{/each}}
</div>