<header>
  <div class="logo">
    {{#linkTo screencasts}}<img src="/assets/logo.png" height=50>{{/linkTo}}
  </div>
</header>

<div class="page">

  <nav class="side-bar">
    <ul>
      <li>home</li>
      <li>about</li>
    </ul>
  </nav>

  <div class="content">
    {{#each this itemViewClass="App.ScreencastView"}}
      <article>
        <aside>
          <h2>{{date}}</h2>
        </aside>
        <div class="row-content">
          <h2>{{title}}</h2>
          <video class="sublime" width="640" height="360" data-autoresize="fit" {{bindAttr id="youtube_id" data-uid="youtube_id" data-youtube-id="youtube_id"}} preload="none"></video>
          <h3>{{description}}</h3>
        </div>
      </article>
    {{/each}}
  </div>

  <nav class="footer">
    <ul>
      <li>home</li>
      <li>about</li>
    </ul>
  </nav>


</div>
