@import "compass/reset"
@import "susy"

$total-columns: 4
$column-width:  4em
$gutter-width:  1em
$grid-padding:  $gutter-width
$tablet:        8
$computer:      55em 12
.page
  // page acts as a container for our grid.
  @include container($total-columns, $tablet, $computer)

  // header and footer are full-width by default.
  header, footer
    clear: both

  nav
    @include span-columns(4, 4)
  .content
    @include span-columns(4, 4)
    article
      @include span-columns(4, 4)
      aside
        @include span-columns(4, 4)
      .row-content
        @include span-columns(4, 4)
  @include at-breakpoint($computer)
    nav
      @include span-columns(2,12)
    .content
      @include span-columns(10 omega, 12)
      article
        @include span-columns(10 omega, 10)
        aside
          @include span-columns(2, 11)
          @include pull(1)
        .row-content
          @include span-columns(9 omega, 10)


html, body
  font-family: Helvetica, sans-serif
  font-size: 90%

header
  margin: 1em 0
nav
  margin: 1.2em 0

  li
    margin-bottom: 0.8em

article
  margin-bottom: 1em

aside
  text-align: right

h2
  font-weight: bold
  margin: 1.2em 0

h3
  margin: 1.2em 0