@import "compass/reset"

@import "foundation-variables"
@import "foundation-includes"

@import "mixins"
@import "dotted-list"

@import "layout"
@import "header"
@import "contact"
@import "nav"


@font-face
  font-family: 'Futura-Book'
  src: url('Futura-Book.eot?#iefix') format('embedded-opentype')
  src: url('Futura-Book.woff') format('woff')
  src: url('Futura-Book.ttf')  format('truetype')
  src: url('Futura-Book.svg#webfont') format('svg')

@font-face
  font-family: 'Futura'
  src: url('Futura-Medium.eot?#iefix') format('embedded-opentype')
  src: url('Futura-Medium.woff') format('woff')
  src: url('Futura-Medium.ttf')  format('truetype')
  src: url('Futura-Medium.svg#webfont') format('svg')

video
  width: 100%    !important
  height: auto   !important
  border: 1px solid black