<!DOCTYPE html>
<html>
<head>
  <title>Embercasts</title>
  <%= stylesheet_link_tag  "application", :media => "all" %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="initial-scale = 1.0, maximum-scale = 1.0">
</head>
<body>
  <%= javascript_include_tag "application" %>
  <script type="text/javascript" src="//cdn.sublimevideo.net/js/yp40jn49.js"></script>
</body>
</html>
