<!DOCTYPE html>
<html>
<head>
  <link href='http://fonts.googleapis.com/css?family=Lato:300,700' rel='stylesheet' type='text/css'>
  <title>Embercasts</title>
  <%= stylesheet_link_tag  "application", :media => "all" %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="initial-scale = 1.0, maximum-scale = 1.0">
</head>
<body>
  <%= javascript_include_tag "application" %>
  <style type='text/css'>
    @import url('http://getbarometer.s3.amazonaws.com/assets/barometer/css/barometer.css');
    #barometer_overlay #barometer_main #overlay_header {
      height: 32px;
    }
  </style>
  <!-- inlined http://getbarometer.s3.amazonaws.com/assets/barometer/javascripts/barometer.js -->
  <script type="text/javascript" charset="utf-8">
    var BAROMETER;

    if(BAROMETER == undefined) {
      BAROMETER = {};
    }

    BAROMETER.load = function(barometer_id) {
      this.barometer_id = barometer_id;
      this.empty_url = "http://getbarometer.s3.amazonaws.com/assets/barometer/images/transparent.gif";
      this.feedback_url = 'http://getbarometer.com/system/feedback_form/' + this.barometer_id;

      this.tab_html = '<a id="barometer_tab" onclick="BAROMETER.show();" href="#">Feedback</a>';
      this.overlay_html = '<div id="barometer_overlay" style="display: none;">' +
          '<div id="barometer_main" style="top: 130.95px;">' +
          '<a id="barometer_close" onclick="document.getElementById(\'barometer_overlay\').style.display = \'none\';return false" href="#"/></a>' +
          '<div id="overlay_header">' +
            '<a href="http://getbarometer.com">Powered by Barometer</a>' +
            '</div>' +
            '<iframe src="' + this.empty_url + '" id="barometer_iframe" allowTransparency="true" scrolling="no" frameborder="0" class="loading"></iframe>' +
            '</div>' +
            '<div id="barometer_screen" onclick="document.getElementById(\'barometer_overlay\').style.display = \'none\';return false" style="height: 100%;"/>' +
            '</div>' +
      '</div>';

      // document.write(this.tab_html);
      document.write(this.overlay_html);
    };

    BAROMETER.show = function() {
      document.getElementById('barometer_iframe').setAttribute("src", this.feedback_url);
      document.getElementById('barometer_overlay').style.display = "block";
      return false;
    };

    BAROMETER.load('Bryc1e1g4LHqcMDjKw2Hd');
  </script>
  <script type="text/javascript">

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-39223626-1']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

  </script>
</body>
</html>
