<!DOCTYPE html>
<html>
<head>
  <link href='http://fonts.googleapis.com/css?family=Lato:300,700' rel='stylesheet' type='text/css'>
  <title>Embercasts</title>
  <%= stylesheet_link_tag  "application", :media => "all" %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="initial-scale = 1.0, maximum-scale = 1.0">
</head>
<body>
  <%= javascript_include_tag "application" %>
  <!-- embedded http://cdn.sublimevideo.net/js/yp40jn49.js -->
  <script>
(function(){var a,b,c,d,e,f,g,h,i,j,k,l,m,n,o,p,q,r,s,t,u,v,w,x,y,z,A,B,C,D,E,F,G;x="sublime",B="sublime_",z=[],w=!1,document.createElement("video").canPlayType||(document.createElement("video"),document.createElement("source")),h={ic:'//cdn.sublimevideo.net',version:'2.2.12',ie:'yp40jn49',ig:{},fZ:"sa"},i=function(a){var b;return b=a.fZ,""+a.ic+"/c/"+b+"/"+a.version+"/"+b+".js?t="+a.ie},D=function(){return j()||k("sublime")},g=function(){var a,b,c,d;w=!0,d=[];for(b=0,c=z.length;b<c;b++)a=z[b],d.push(a());return d},m=function(){var a;return a={},window.sublimevideo=a,a.ready=function(a){return w?a():z.push(a)},a.load=function(){return h.BZ=!0,u()}},j=function(){return o.getElementsByTagName("video").length>0},k=function(a){var b,c,d,e,f;if(a){if(o.querySelector)return o.querySelector("."+a)!=null;if(o.getElementsByClassName)return e=o.getElementsByClassName(a),e&&e.length>0;b=new RegExp("\\b"+a+"\\b"),d=o.getElementsByTagName("*"),f=0;while(f<d.length){c=d[f].className;if(b.test(c))return!0;f++}return!1
}return!1},o=document,c="DOMContentLoaded",A="onreadystatechange",G=window,b=0,d=1,a=2,C=[],f=b,q=!1,t=function(a){return typeof a=="function"},y=function(a){var b;b=0;while(b<a.length)a[b](),b++;return a.length=0},v=function(a,b){var c,d;return a?(c=o.getElementsByTagName("head")[0]||o.body,d=o.createElement("script"),d.type="text/javascript",d.src=a,d.async=!0,d[A]=d.onload=function(){var a;a=d.readyState;if(!b.CZ&&(!a||/loaded|complete/.test(a)))return b.CZ=!0,b()},c.appendChild(d)):b()},E=function(){var a;if(!a)return;return a=!1,o.addEventListener?(o.removeEventListener(c,p,!1),G.removeEventListener("load",p,!1)):(o.detachEvent(A,p),G.detachEvent("onload",p))},p=function(a){if(!q){a||(a=G.event);if(o.addEventListener||o.readyState==="complete"||a&&a.type==="load"){E(),q=!0;if(D()||s)return u()}}},l=function(){var a,b;b=!0;if(o.addEventListener)return o.addEventListener(c,p,!1),G.addEventListener("load",p,!1);if(o.attachEvent){o.attachEvent(A,p),G.attachEvent("onload",p),a=!1;try{a=
G.frameElement==null}catch(d){}if(o.docElement&&o.docElement.doScroll&&a)return n()}},n=function(){if(!q){try{o.docElement.doScroll("left")}catch(a){setTimeout(n,1);return}return p()}},G.console||(r=function(){},G.console={log:r,warn:r,error:r,debug:r}),s=!1,u=function(){if(f!==b)return;return f=d,v(i(h),function(){return G[B].init(h,function(){return f=a,y(C),g()})}),undefined},e=G[x],e&&e.ready&&e.load?console.error("SublimeVideo loader has been installed more than once."):(e=G[x]={},e.ready=function(b){return f===a?b():t(b)&&C.push(b),undefined},e.load=function(){return q?u():s=!0,undefined},m(),document.readyState==="complete"?p():(l(),F=G.jQuery,F&&t(F.ready)&&F(o).ready(p)))}).call(this)
  </script>
</body>
</html>
